<app-video-background>
  <section id="experiencia" class="flex justify-center items-start min-h-screen bg-transparent px-4 pt-20">
    <div class="bg-white bg-opacity-80 rounded-lg shadow-lg p-10 w-full sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 mx-auto">
      <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-left">Experiencia</h1>
      <ul class="list-disc list-inside text-base leading-6 text-gray-700">
        <li>Embajador de Microsoft durante mi enseñanza media.</li>
        <li>Administración de servidores de juegos, gestionando comunidades.</li>
        <li>Desarrollo de programas pequeños y hacking ético por diversión.</li>
      </ul>
    </div>
  </section>
</app-video-background>